.ct-img{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;  
}

@media screen and (max-width: 768px) {
    .ct-img {
        flex-direction: column;
    }
  }

.img{
    margin: 1%;
}